#sbp-view-box {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#sbp-button-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	gap: 8px;
	padding: 8px;
	position: absolute;
	bottom: 0;
}

#sbp-hints-button,
#sbp-hints-view,
#sbp-sync-view {
	display: none;
}

#sbp-sync-view {
	grid-template-columns: min-content 8rem;
	align-items: center;
	align-self: center;
	gap: 1rem;

	#sbp-name-button {
		display: none;
	}

	#sbp-name-input-box {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		overflow: hidden;

		input {
			width: 100%;
			padding: 2px;
			padding-right: 1.5rem;
		}

		button {
			position: absolute;
			right: 4px;
			font-size: 10px;
			border: none;
			padding: 0;
		}

		&.sbp-modified #sbp-name-button {
			display: block;
		}
	}

	#sbp-sync-button {
		grid-column: 1 / span 2;
	}
}

[data-sbp-pane]:not([data-sbp-pane=""]) {
	.sb-wordlist-pag,
	.sb-kebob {
		display: none;
	}
}

[data-sbp-pane="hints"] {
	#sbp-hints-view {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1em;
	}
}

[data-sbp-pane="sync"] {
	#sbp-sync-view {
		display: grid;
	}
}

.sbp-letters {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
}

.sbp-letter {
	--size: 35px;
	--border-color: #999;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	border-bottom: solid 2px transparent;
	cursor: pointer;
}

.sbp-table {
	table-layout: fixed;
	font-size: 125%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.sbp-table-row {
	display: flex;
	align-items: stretch;
	gap: 4px;
}

.sbp-table-cell {
	--size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
}

.sbp-table .sbp-left-label {
	font-weight: 600;
	width: 4em;
	justify-content: flex-start;
}

.sbp-letter-need {
	background: rgba(255, 0, 0, 0.1);
}

.sbp-digraph {
	font-family: monospace;
	font-size: 125%;
}

.sbp-letter-active {
	border-bottom-color: var(--border-color);
}

.sbp-complete {
	color: #bbb;
}

.sb-progress-marker.sbp-progress-marker .sb-progress-value {
	border: solid 1px #dcdcdc;
	background: white;
	color: #333;
	transform: scale(0.75);
}

#sbp-pangrams .sbp-left-label {
	width: 4.5em;
}

#conversion-banner {
	display: none;
}

.sbp {
	.sb-kebob {
		margin-bottom: 12px;
		right: 44px;
	}

	.sb-wordlist-summary {
		line-height: 1.15em;
		white-space: normal;
	}

	#sbp-hints-button {
		display: block;
	}
}

@media (min-width: 768px) {
	#sbp-hints-view {
		padding-top: 0;
	}
}
