.sb-kebob {
  margin-bottom: 12px;
  right: 44px;
}

#sbp-hints-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

#sbp-hints-view {
  display: none;
  padding: 0 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  --cell-gap: 0.4em;
}

.sbp-hints .sb-wordlist-window .sb-wordlist-pag,
.sbp-hints .sb-wordlist-window .sb-kebob {
  display: none;
}

.sbp-hints #sbp-hints-view {
  display: flex;
}

.sbp-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  gap: var(--cell-gap);
}

.sbp-letter {
  --size: 40px;
  --border-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-bottom: solid 2px transparent;
  cursor: pointer;
}

.sbp-table {
  table-layout: fixed;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.sbp-table-row {
  display: flex;
  align-items: stretch;
  gap: var(--cell-gap);
}

.sbp-table-cell {
  --size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
}

.sbp-table .sbp-count-label,
.sbp-table .sbp-digraph-label {
  font-weight: 600;
  width: 4em;
  justify-content: flex-start;
}

.sbp-letter-need {
  background: rgba(255, 0, 0, 0.1);
}

.sbp-letter-zero {
  color: #bbb;
}

.sbp-digraph {
  font-family: monospace;
  font-size: 125%;
}

.sbp-letter-active {
  border-bottom-color: var(--border-color);
}
